.it-timeline {
	display: flex;
	overflow: hidden;
	width: 100%;
	position: relative;
	transition: background-color ease 500ms;
}
[data-breakout="true"] {
	width: 100vw;
	left: 50%;
	transform: translateX(-50%);
}
[data-index="0"] {
	background-color: rgba(255,0,0,0.1);
}
[data-index="1"] {
	background-color: rgba(0,255,0,0.1);
}
[data-index="2"] {
	background-color: rgba(0,0,255,0.1);
}
[data-index="3"] {
	background-color: rgba(0,255,255,0.1);
}
[data-index="4"] {
	background-color: rgba(255,0,255,0.1);
}
[data-index="5"] {
	background-color: rgba(255,255,0,0.1);
}
[data-index="6"] {
	background-color: rgba(0,0,0,0.1);
}
.it-timeline * {
	box-sizing: border-box;
}
.it-slider {
	display: flex;
	overflow: auto;
	scrollbar-width: none;
	min-height: 32rem;
}
.it-slide {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	scroll-snap-align: center;
	box-shadow: inset 0 0 1px red;
	padding: 10rem 0 8rem;
}
.it-events {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	gap: 2rem;
	border-top: solid 1px #fff;
	margin: 0;
	padding: 0 2rem;
	min-height: 16rem;
	list-style: none;
}
.it-events li {
	background-color: rgba(0,0,0,0.75);
	color: #fff;
	width: 20rem;
	max-width: 90vw;
	padding: 1.25rem;
	margin: 1.5rem 0 0 0;
}
.it-events h3 {}
.it-events p {}
.it-overlay {}
.it-title {
	position: absolute;
	left: 1rem;
	top: 1rem;
}
.it-controls {}
.it-enlarge {
	position: absolute;
	right: 1rem;
	top: 1rem;
}
.it-back {
	position: absolute;
	left: 1rem;
	bottom: 1rem;
}
.it-forward {
	position: absolute;
	left: 5rem;
	bottom: 1rem;
}
.it-overview {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	overflow: auto;
	scrollbar-width: none;
	position: absolute;
	left: 12.5%;
	right: 12.5%;
	bottom: 1.75rem;
	height: 5.75rem;
	margin: 0;
	padding: 1rem;
	box-shadow: inset 0 0 1px red;
	list-style: none;
}
.it-thumbnail {
	background-color: #fff;
	height: 100%;
	aspect-ratio: 10 / 6;
	scroll-snap-align: center;
	box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.55);
}
[data-index="0"] .it-thumbnail:nth-of-type(1),
[data-index="1"] .it-thumbnail:nth-of-type(2),
[data-index="2"] .it-thumbnail:nth-of-type(3),
[data-index="3"] .it-thumbnail:nth-of-type(4),
[data-index="4"] .it-thumbnail:nth-of-type(5),
[data-index="5"] .it-thumbnail:nth-of-type(6),
[data-index="6"] .it-thumbnail:nth-of-type(7) {
	background-color: #808080;
}
