:root {
	--year-1800s-1850s: url('data:image/svg+xml;utf8,<svg width="620" height="93" viewBox="0 0 620 93" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_d_79_610)"><path d="M40.418 83H22.52V29.42H4.39404V17.336C16.25 17.108 23.546 10.496 25.028 2.17399H40.418V83Z" fill="white"/><path d="M76.9346 84.71C58.5806 84.71 46.1546 75.02 46.1546 61.112C46.1546 52.448 51.7406 44.696 60.1766 41.504C52.0826 38.54 47.7506 30.56 47.7506 23.606C47.7506 10.154 59.8346 0.463989 76.9346 0.463989C93.9206 0.463989 106.005 10.154 106.005 23.606C106.005 30.56 101.673 38.54 93.4646 41.504C101.901 44.696 107.601 52.448 107.601 61.112C107.601 75.02 95.2886 84.71 76.9346 84.71ZM76.9346 35.234C84.2306 35.006 88.1066 30.446 88.1066 24.974C88.1066 20.072 84.1166 15.398 76.9346 15.398C69.6386 15.398 65.5346 20.072 65.5346 24.974C65.5346 30.446 69.6386 35.006 76.9346 35.234ZM76.9346 70.004C85.4846 70.004 89.9306 64.532 89.9306 59.174C89.9306 53.588 85.7126 48.23 76.9346 48.23C68.1566 48.23 63.8246 53.588 63.8246 59.174C63.8246 64.532 68.3846 70.004 76.9346 70.004Z" fill="white"/><path d="M128.913 42.53C128.913 58.604 133.017 69.32 144.075 69.32C155.133 69.32 159.237 58.604 159.237 42.53C159.237 26.456 155.133 15.854 144.075 15.854C133.017 15.854 128.913 26.456 128.913 42.53ZM110.787 42.53C110.787 20.3 119.793 0.463989 144.075 0.463989C168.357 0.463989 177.363 20.3 177.363 42.53C177.363 64.76 168.357 84.71 144.075 84.71C119.793 84.71 110.787 64.76 110.787 42.53Z" fill="white"/><path d="M198.667 42.53C198.667 58.604 202.771 69.32 213.829 69.32C224.887 69.32 228.991 58.604 228.991 42.53C228.991 26.456 224.887 15.854 213.829 15.854C202.771 15.854 198.667 26.456 198.667 42.53ZM180.541 42.53C180.541 20.3 189.547 0.463989 213.829 0.463989C238.111 0.463989 247.117 20.3 247.117 42.53C247.117 64.76 238.111 84.71 213.829 84.71C189.547 84.71 180.541 64.76 180.541 42.53Z" fill="white"/><path d="M249.155 66.926L263.861 64.304C264.089 68.18 266.825 71.942 272.753 71.942C277.199 71.942 279.365 69.548 279.365 67.04C279.365 64.988 277.997 63.278 273.779 62.366L267.281 60.884C255.197 58.262 250.409 51.422 250.409 43.442C250.409 33.068 259.529 24.632 272.183 24.632C288.599 24.632 294.299 34.892 294.869 41.504L280.505 44.126C280.049 40.364 277.655 37.172 272.411 37.172C269.105 37.172 266.255 39.11 266.255 42.074C266.255 44.468 268.193 45.836 270.701 46.292L278.225 47.774C289.967 50.168 295.667 57.236 295.667 65.558C295.667 75.248 288.257 84.71 273.095 84.71C255.311 84.71 249.611 73.196 249.155 66.926Z" fill="white"/><path d="M334.252 56.438H300.052V40.82H334.252V56.438Z" fill="white"/><path d="M369.433 83H351.535V29.42H333.409V17.336C345.265 17.108 352.561 10.496 354.043 2.17399H369.433V83Z" fill="white"/><path d="M405.949 84.71C387.595 84.71 375.169 75.02 375.169 61.112C375.169 52.448 380.755 44.696 389.191 41.504C381.097 38.54 376.765 30.56 376.765 23.606C376.765 10.154 388.849 0.463989 405.949 0.463989C422.935 0.463989 435.019 10.154 435.019 23.606C435.019 30.56 430.687 38.54 422.479 41.504C430.915 44.696 436.615 52.448 436.615 61.112C436.615 75.02 424.303 84.71 405.949 84.71ZM405.949 35.234C413.245 35.006 417.121 30.446 417.121 24.974C417.121 20.072 413.131 15.398 405.949 15.398C398.653 15.398 394.549 20.072 394.549 24.974C394.549 30.446 398.653 35.006 405.949 35.234ZM405.949 70.004C414.499 70.004 418.945 64.532 418.945 59.174C418.945 53.588 414.727 48.23 405.949 48.23C397.171 48.23 392.839 53.588 392.839 59.174C392.839 64.532 397.399 70.004 405.949 70.004Z" fill="white"/><path d="M438.206 60.542L454.736 57.008C455.306 63.734 460.094 69.32 467.96 69.32C474.572 69.32 480.386 64.532 480.386 56.78C480.386 48.002 474.458 43.67 467.96 43.67C462.602 43.67 458.498 46.292 456.56 49.142C455.42 48.686 441.74 44.126 440.714 43.67L448.922 2.17399H494.408V17.336H461.348L457.928 34.322C461.462 31.016 466.934 29.534 472.178 29.534C488.138 29.534 498.284 39.452 498.284 56.552C498.284 71.372 486.998 84.71 467.96 84.71C450.632 84.71 439.232 73.082 438.206 60.542Z" fill="white"/><path d="M518.775 42.53C518.775 58.604 522.879 69.32 533.937 69.32C544.995 69.32 549.099 58.604 549.099 42.53C549.099 26.456 544.995 15.854 533.937 15.854C522.879 15.854 518.775 26.456 518.775 42.53ZM500.649 42.53C500.649 20.3 509.655 0.463989 533.937 0.463989C558.219 0.463989 567.225 20.3 567.225 42.53C567.225 64.76 558.219 84.71 533.937 84.71C509.655 84.71 500.649 64.76 500.649 42.53Z" fill="white"/><path d="M569.263 66.926L583.969 64.304C584.197 68.18 586.933 71.942 592.861 71.942C597.307 71.942 599.473 69.548 599.473 67.04C599.473 64.988 598.105 63.278 593.887 62.366L587.389 60.884C575.305 58.262 570.517 51.422 570.517 43.442C570.517 33.068 579.637 24.632 592.291 24.632C608.707 24.632 614.407 34.892 614.977 41.504L600.613 44.126C600.157 40.364 597.763 37.172 592.519 37.172C589.213 37.172 586.363 39.11 586.363 42.074C586.363 44.468 588.301 45.836 590.809 46.292L598.333 47.774C610.075 50.168 615.775 57.236 615.775 65.558C615.775 75.248 608.365 84.71 593.203 84.71C575.419 84.71 569.719 73.196 569.263 66.926Z" fill="white"/></g><defs><filter id="filter0_d_79_610" x="0.394043" y="0.463989" width="619.381" height="92.246" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="4"/><feGaussianBlur stdDeviation="2"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_79_610"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_79_610" result="shape"/></filter></defs></svg>');
	--year-1890s-1920s: "";
	--year-1955-1965: "";
	--year-1964: "";
	--year-1969-1972: "";
	--year-1980s: "";
	--year-1990s: "";
	--year-2000s: "";
	--year-2010s: "";
	--year-2020s: "";
}

.it-timeline {
	display: flex;
	overflow: hidden;
	width: 100%;
	position: relative;
	transition: background-color ease 500ms;
}

[data-breakout="true"] {
	width: 100vw;
	left: 50%;
	transform: translateX(-50%);
}

[data-index="0"] {
	background-color: rgba(255,0,0,0.1);
}

[data-index="1"] {
	background-color: rgba(0,255,0,0.1);
}

[data-index="2"] {
	background-color: rgba(0,0,255,0.1);
}

[data-index="3"] {
	background-color: rgba(0,255,255,0.1);
}

[data-index="4"] {
	background-color: rgba(255,0,255,0.1);
}

[data-index="5"] {
	background-color: rgba(255,255,0,0.1);
}

[data-index="6"] {
	background-color: rgba(0,0,0,0.1);
}

.it-timeline * {
	box-sizing: border-box;
}

.it-slider {
	display: flex;
	overflow: auto;
	scrollbar-width: none;
	min-height: 32rem;
}

.it-slide {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	box-shadow: inset 0 0 1px red;
	padding: 10rem 0 8rem;
}

.it-events {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	gap: 2rem;
	border-top: solid 0.125rem #fff;
	margin: 0;
	padding: 0 2rem;
	min-height: 16rem;
	list-style: none;
}

.it-events li {
	background-color: rgba(0,0,0,0.75);
	color: #fff;
	width: 20rem;
	max-width: 90vw;
	padding: 1.25rem;
	margin: 1.5rem 0 0 0;
}

.it-events h3 {}

.it-events p {}

.it-overlay {}

.it-instructions {
	position: absolute;
	right: 1rem;
	top: 1rem;
	z-index: 10;
}

.it-title {
	position: absolute;
	left: 1rem;
	top: 1rem;
	right: 240px;
	height: 100px;
}

.it-title h2 {
	opacity: 0;
	transition: opacity ease 300ms;
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center left;
	background-size: contain;
	font-size: 0;
}

[data-index="0"] .it-title h2[data-title="0"],
[data-index="1"] .it-title h2[data-title="1"],
[data-index="2"] .it-title h2[data-title="2"],
[data-index="3"] .it-title h2[data-title="3"],
[data-index="4"] .it-title h2[data-title="4"],
[data-index="5"] .it-title h2[data-title="5"],
[data-index="6"] .it-title h2[data-title="6"],
[data-index="6"] .it-title h2[data-title="7"],
[data-index="6"] .it-title h2[data-title="8"],
[data-index="6"] .it-title h2[data-title="9"] {
	opacity: 1;
}

.it-title h2[data-title="0"] { background-image: var(--year-1800s-1850s); }
.it-title h2[data-title="1"] { background-image: var(--year-1890s-1920s); }
.it-title h2[data-title="2"] { background-image: var(--year-1955-1965); }
.it-title h2[data-title="3"] { background-image: var(--year-1964); }
.it-title h2[data-title="4"] { background-image: var(--year-1969-1972); }
.it-title h2[data-title="5"] { background-image: var(--year-1980s); }
.it-title h2[data-title="6"] { background-image: var(--year-1990s); }
.it-title h2[data-title="7"] { background-image: var(--year-2000s); }
.it-title h2[data-title="8"] { background-image: var(--year-2010s); }
.it-title h2[data-title="9"] { background-image: var(--year-2020s); }

.it-controls {}

.it-enlarge {
	position: absolute;
	right: 1rem;
	top: 1rem;
}

.it-back {
	position: absolute;
	left: 1rem;
	bottom: 1rem;
}

.it-forward {
	position: absolute;
	left: 5rem;
	bottom: 1rem;
}

.it-overview {
	display: flex;
	justify-content: flex-start;
	gap: 0.5rem;
	overflow: auto;
	scrollbar-width: none;
	position: absolute;
	left: 12.5%;
	right: 12.5%;
	bottom: 1.75rem;
	height: 5.75rem;
	margin: 0;
	padding: 1rem;
	box-shadow: inset 0 0 1px red;
	list-style: none;
}

@media only screen and (min-width:992px) {
	.it-overview {
		justify-content: center;
	}
}

.it-thumbnail {
	background-color: #fff;
	height: 100%;
	aspect-ratio: 10 / 6;
	box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.55);
}

[data-index="0"] .it-thumbnail:nth-of-type(1),
[data-index="1"] .it-thumbnail:nth-of-type(2),
[data-index="2"] .it-thumbnail:nth-of-type(3),
[data-index="3"] .it-thumbnail:nth-of-type(4),
[data-index="4"] .it-thumbnail:nth-of-type(5),
[data-index="5"] .it-thumbnail:nth-of-type(6),
[data-index="6"] .it-thumbnail:nth-of-type(7) {
	background-color: #808080;
}
